*,
:after,
:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
a,
article,
b,
body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
li,
p,
section,
span,
strike,
strong,
u,
ul {
	border: 0;
	font: inherit;
	margin: 0;
	padding: 0
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	line-height: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}
article,
footer,
header,
section {
	display: block
}
a {
	background: 0 0;
	outline: 0
}
ul {
	list-style: none
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
@media (min-width:992px) {
	.container {
		padding-left: 30px;
		padding-right: 30px
	}
}
.container:after,
.container:before {
	content: " ";
	display: table
}
.container:after {
	clear: both
}
@media (min-width:992px) {
	.container {
		width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px
}
.row:after,
.row:before {
	content: " ";
	display: table
}
.row:after {
	clear: both
}
.col-ms-1,
.col-ms-10,
.col-ms-11,
.col-ms-12,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
.col-ms-1,
.col-ms-10,
.col-ms-11,
.col-ms-12,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9 {
	float: left
}
.col-ms-12 {
	width: 100%
}
.col-ms-11 {
	width: 91.66666666666666%
}
.col-ms-10 {
	width: 83.33333333333334%
}
.col-ms-9 {
	width: 75%
}
.col-ms-8 {
	width: 66.66666666666666%
}
.col-ms-7 {
	width: 58.333333333333336%
}
.col-ms-6 {
	width: 50%
}
.col-ms-5 {
	width: 41.66666666666667%
}
.col-ms-4 {
	width: 33.33333333333333%
}
.col-ms-3 {
	width: 25%
}
.col-ms-2 {
	width: 16.666666666666664%
}
.col-ms-1 {
	width: 8.333333333333332%
}
html {
	cursor: default;
	font-size: 87.5%;
	-webkit-tap-highlight-color: transparent
}
@media (min-width:768px) {
	html {
		font-size: 93.75%
	}
}
@media (min-width:1200px) {
	html {
		font-size: 100%
	}
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/roboto-v20-latin-regular.woff2) format('woff2'), url(/assets/fonts/roboto-v20-latin-regular.woff) format('woff'), url(/assets/fonts/roboto-v20-latin-regular.ttf) format('truetype'), url(/assets/fonts/roboto-v20-latin-regular.svg#Roboto) format('svg')
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(/assets/fonts/roboto-v20-latin-700.woff2) format('woff2'), url(/assets/fonts/roboto-v20-latin-700.woff) format('woff'), url(/assets/fonts/roboto-v20-latin-700.ttf) format('truetype'), url(/assets/fonts/roboto-v20-latin-700.svg#Roboto) format('svg')
}
body {
	background-color: #141414;
	color: #333;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.75rem
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 15px
}
h1 {
	font-size: 2rem
}
h2 {
	font-size: 1.625rem
}
h3 {
	font-size: 1.375rem
}
h1,
h2,
h3 {
	color: inherit
}
ol,
ul {
	margin-bottom: 15px
}
ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0
}
ol > li,
ul > li {
	margin-left: 15px
}
ol.unstyled,
ul.unstyled {
	list-style: none;
	margin-bottom: 0
}
ol.unstyled > li,
ul.unstyled > li {
	margin-left: 0
}
ul {
	list-style: disc
}
ol {
	list-style: decimal
}
b,
strong {
	font-weight: 700
}
em,
i {
	font-style: italic
}
a {
	color: #3177b3;
	outline: 0;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
p {
	margin-bottom: 15px
}
.preclearfix {
	clear: both;
	content: "";
	display: block
}
.clearfix:after {
	clear: both;
	content: "";
	display: block
}
header#header div.container {
	background-color: #333;
	padding-bottom: 20px;
	padding-top: 20px
}
header#header h1 {
	color: #fff;
	margin: 0;
	padding: 0
}
#container div.container {
	background: #fff
}
#container div.container {
	padding-top: 15px
}
@media (min-width:992px) {
	#container div.container {
		padding-bottom: 15px;
		padding-top: 30px
	}
}
footer#footer div.container {
	background-color: #f0f0f0;
	border-top: 1px solid #e0e0e0;
	color: #333;
	padding-bottom: 20px;
	padding-top: 20px
}
footer#footer div.container a {
	color: #333
}
